.mainWrapper {
  position: relative;
  margin-bottom: 100px;

  background-image: url('/images/main/ellipse-phone5.png'), url('/images/main/ellipse3.png');
  background-repeat: no-repeat;
  background-position:
    bottom right,
    top left;

  @include respond(tabletL) {
    margin-bottom: 64px;
  }

  @include respond(mobileL) {
    margin-bottom: 48px;
  }

  &::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image: url('/images/main/grid.svg');
    background-repeat: no-repeat;
    opacity: 0.2;
    z-index: -1;
  }
}

.section {
  display: grid;
  grid-template-columns: 1fr minmax(150px, 620px);

  @include respond(laptop) {
    grid-template-columns: 1fr;
    gap: 32px;
  }
}

.img {
  display: flex;
  align-items: end;

  img {
    object-fit: cover;
    max-width: 100%;
    width: 100%;
    height: auto;
  }

  @include respond(laptop) {
    justify-content: center;

    img {
      width: 650px;
    }
  }
}

.mainInfo {
  padding-top: 76px;

  @include respond(laptop) {
    padding-top: 48px;
  }

  @include respond(tablet) {
    padding-top: 32px;
  }

  @include respond(mobileL) {
    padding-top: 24px;
  }
}

.title {
  background-image: linear-gradient(to right, #ffffff 38%, #999999 100%);
  -webkit-background-clip: text;
  background-clip: text;
  -webkit-text-fill-color: transparent;
  color: transparent;
  margin-bottom: 16px;
  text-transform: uppercase;

  @include Rubik_52_600;

  @include respond(laptop) {
    font-size: 48px;
  }

  @include respond(tablet) {
    font-size: 36px;
  }

  .title2 {
    color: var(--light-blue);
    -webkit-text-fill-color: var(--light-blue);
    text-transform: uppercase;

    @include Rubik_52_600;

    @include respond(laptop) {
      font-size: 48px;
    }

    @include respond(tablet) {
      font-size: 36px;
    }
  }

  .title3 {
    background-image: linear-gradient(to right, #999999 0%, #ffffff 35%);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;
    color: transparent;
    text-transform: uppercase;

    @include Rubik_52_600;

    @include respond(laptop) {
      font-size: 48px;
    }

    @include respond(tablet) {
      font-size: 36px;
    }
  }
}

.description {
  color: var(--white-80);
  margin-bottom: 24px;

  @include Nunito_22_300;

  @include respond(laptop) {
    font-size: 20px;
  }

  @include respond(tablet) {
    font-size: 18px;
  }
}

.line {
  border: none;
  height: 4px;
  background-image: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    rgba(153, 153, 153, 0) 100%
  );
  width: 557px;

  @include respond(tablet) {
    width: 400px;
  }

  @include respond(mobileL) {
    width: 280px;
  }

  @include respond(mobile360) {
    width: 240px;
  }
}

.online {
  display: flex;
  align-items: center;
  gap: 42px;
  margin-bottom: 18px;
  margin-top: 18px;

  @include respond(tablet) {
    gap: 16px;
  }

  @include respond(mobileL) {
    margin-bottom: 14px;
    margin-top: 14px;
  }
}

.avatars {
  @include respond(tablet) {
    img {
      width: 200px;
      height: 50px;
    }
  }

  @include respond(mobile) {
    img {
      width: 180px;
      height: 45px;
    }
  }
}

.count {
  color: var(--white);

  @include Rubik_32_600;

  @include respond(tablet) {
    font-size: 24px;
  }
}

.countDescription {
  color: var(--white-70);

  @include Nunito_16_400;

  @include respond(tablet) {
    font-size: 14px;
  }
}

.secure {
  display: flex;
  align-items: center;
  gap: 24px;
  margin-top: 18px;

  @include respond(tablet) {
    gap: 16px;
  }
}

.secureText {
  color: var(--white-60);
  max-width: 300px;

  @include Nunito_16_300;

  @include respond(mobileL) {
    font-size: 14px;
  }
}

.secureImg {
  @include respond(tablet) {
    img {
      width: 80px;
      height: 50px;
    }
  }
}
