.section {
  position: relative;
  margin-bottom: 100px;

  @include respond(tabletL) {
    margin-bottom: 64px;
  }

  @include respond(mobileL) {
    margin-bottom: 48px;
  }
}

.content {
  background-color: var(--background-contact);
  border-radius: 20px;
  background-image: url('/images/contacts/ellipse1.png'), url('/images/contacts/ellipse2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contentWrapper {
  padding: 32px 68px;

  @include respond(laptop) {
    padding: 32px 48px;
  }

  @include respond(tablet) {
    padding: 24px;
  }

  @include respond(mobileL) {
    padding: 16px;
  }
}

.title {
  color: var(--white);
  margin-bottom: 30px;
  text-align: center;

  @include Rubik_40_600;

  @include respond(tabletL) {
    font-size: 32px;
  }

  @include respond(mobileL) {
    font-size: 28px;
  }
}

.helper {
  color: var(--white-30);
  text-align: center;

  @include Nunito_14_300;
}

.card_two {
  background-color: #192124;
  opacity: 0.6;
  width: 100%;
  max-width: 1140px;
  height: 18px;
  margin: 0 auto;
  border-radius: 0px 0px 32px 32px;

  @media only screen and (max-width: 1315px) {
    max-width: 840px;
  }

  @include respond(laptop) {
    max-width: 640px;
  }

  @include respond(tablet) {
    display: none;
  }
}

.card_three {
  background-color: #192124;
  opacity: 0.4;
  width: 100%;
  max-width: 1080px;
  height: 18px;
  margin: 0 auto;
  border-radius: 0px 0px 32px 32px;

  @media only screen and (max-width: 1315px) {
    max-width: 780px;
  }

  @include respond(laptop) {
    max-width: 440px;
  }

  @include respond(tablet) {
    display: none;
  }
}

.ellipse1 {
  position: absolute;
  top: 0px;
  border-radius: 20px;
  z-index: -1;
}
