.section {
  margin-bottom: 100px;
  position: relative;
}

.content {
  background-color: var(--background-contact);
  border-radius: 20px;
  background-image: url('/images/contacts/ellipse1.png'), url('/images/contacts/ellipse2.png');
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
}

.contentWrapper {
  padding: 32px 68px;
}

.title {
  color: var(--white);
  margin-bottom: 30px;
  text-align: center;

  @include Rubik_40_600;
}

.helper {
  color: var(--white-30);
  text-align: center;

  @include Nunito_14_300;
}

.card_two {
  background-color: #192124;
  opacity: 0.6;
  width: 100%;
  max-width: 1240px;
  height: 18px;
  margin: 0 auto;
  border-radius: 0px 0px 32px 32px;
}

.card_three {
  background-color: #192124;
  opacity: 0.4;
  width: 100%;
  max-width: 1180px;
  height: 18px;
  margin: 0 auto;
  border-radius: 0px 0px 32px 32px;
}

.ellipse1 {
  position: absolute;
  top: 0px;
  // right: 68px;
  border-radius: 20px;
  z-index: -1;
  // width: 875px;
  // height: 267px;
  // object-fit: cover;
}
