.navbar {
  @include respond(tablet) {
    display: none;
  }
}

.list {
  display: flex;
  align-items: center;
  gap: 52px;

  @media only screen and (max-width: 1280px) {
    gap: 24px;
  }

  @include respond(laptop) {
    gap: 16px;
  }
}

.link {
  color: var(--white-70);

  @include Nunito_20_400;
  @include transition;

  @include respond(laptop) {
    font-size: 18px;
  }

  &:hover {
    color: var(--light-blue);
  }
}
