.section {
  margin-bottom: 100px;

  @include respond(tabletL) {
    margin-bottom: 64px;
  }

  @include respond(mobileL) {
    margin-bottom: 48px;
  }
}

.title {
  color: var(--white);
  margin-bottom: 30px;
  // text-align: center;
  @include Rubik_40_600;

  @include respond(tabletL) {
    font-size: 32px;
  }

  @include respond(mobileL) {
    font-size: 28px;
  }
}

.list {
  display: flex;
  flex-direction: column;
  gap: 8px;
}
