:root {
  //Main
  --white: #ffffff;
  --white-05: rgba(255, 255, 255, 0.05);
  --white-30: rgba(255, 255, 255, 0.3);
  --white-40: rgba(255, 255, 255, 0.4);
  --white-60: rgba(255, 255, 255, 0.6);
  --white-70: rgba(255, 255, 255, 0.7);
  --white-80: rgba(255, 255, 255, 0.8);

  --blue: #4354f0;
  --light-blue: #4bb5cf;
  --red: #ff5959;
  --black_3e: #3E3E3E;
  --black_60: rgba(0, 0, 0, 0.6);

  --border-gray: #1E282D;
  --background-main: #070c0f;
  --background-second: #0A0F12;
  --background-contact: #101618;
  --background-how-it-works: rgba(235, 246, 249, 0.04);


  // Button colors
  --btn-color-primary: #4354f0;
  --btn-color-primary-hover: #2a3ce0;
  --btn-color-primary-disabled: #aeaeb3;

  --btn-color-secondary: #4bb5cf;
  --btn-color-secondary-hover: #179cbd;
  --btn-color-secondary-disabled: #aeaeb3;

  // Gradients
  --linear-card-advantage: linear-gradient(
    to right bottom,
    #445ded,
    #0051b7,
    #003e7c,
    #002742,
    #070c0f
  );
  --linear-card-faq: linear-gradient(
    to right,
    rgba(75, 181, 207, 0.07),
    rgba(68, 175, 208, 0.07),
    rgba(64, 168, 209, 0.07),
    rgba(65, 161, 209, 0.07),
    rgba(69, 154, 208, 0.07)
  );

  --linear-line: linear-gradient(
    to right,
    rgba(255, 255, 255, 0.1) 0%,
    #999999 100%,
  );
}
