:root {
  //Main
  --white: #ffffff;
  --background-main: #070c0f;
  --backgound-second: #0A0F12;
  --blue: #4354f0;
  --light-blue: #4bb5cf;
  --white-80: rgba(255, 255, 255, 0.8);

  // --black: #000000;
  // --gray: #8D8D8D;

  // Button colors
  --btn-color-primary: #4354f0;
  --btn-color-primary-hover: #2a3ce0;
  --btn-color-primary-disabled: #aeaeb3;

  --btn-color-secondary: #4bb5cf;
  --btn-color-secondary-hover: #179cbd;
  --btn-color-secondary-disabled: #aeaeb3;

  // Gradients
  --linear-card-advantage: linear-gradient(
    to right bottom,
    #445ded,
    #0051b7,
    #003e7c,
    #002742,
    #070c0f
  );
  --linear-card-faq: linear-gradient(
    to right,
    rgba(75, 181, 207, 0.07),
    rgba(68, 175, 208, 0.07),
    rgba(64, 168, 209, 0.07),
    rgba(65, 161, 209, 0.07),
    rgba(69, 154, 208, 0.07)
  );
}
